[submodule "julia/julia-homg"]
	path = julia/julia-homg
	url = https://github.com/bmwilly/julia-homg.git
[submodule "julia-parallel/julia-homg"]
	path = julia-parallel/julia-homg
	url = https://github.com/bmwilly/julia-homg.git
[submodule "stampede/julia-homg"]
	path = stampede/julia-homg
	url = https://github.com/bmwilly/julia-homg.git
[submodule "stampede-parallel/julia-homg"]
	path = stampede-parallel/julia-homg
	url = https://github.com/bmwilly/julia-homg.git
